
// Body
$body-bg: #dbdbdb;
// Card
$card-border-width: 4px;
$card-border-radius: .3rem;
$card-border-color: rgba(255, 62, 62, 0.801);
// Navbar
/*$nav-bg: #dbdbdb;
$nav-border-width: 4px;
$nav-border-radius: .3rem;
$nav-border-color: rgba(255, 62, 62, 0.801);*/